@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


*{
    font-family: Outfit;
}

.active hr{
    @apply block
}

::-webkit-scrollbar{
    @apply hidden
}

@media (max-width:740px) {
    .active p{
        @apply text-white bg-primary
    }
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    background-color: #fff;
}